@import url('https://fonts.googleapis.com/css2?family=Lato@400;700&family=Nunito:wght@400;700&display=swap');

:root {
  color: #364751;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
